body{
    background-color: #D4F1F4;
    position: relative;
}
.first-row{
    display: flex;
    justify-content: space-between;
}
.question-one{
    border: 2px solid red;
    width: 490px;
}
.plus-btn{
    height: 20px;
    font-size: 12px;
    cursor: pointer;
    border: 2px solid #FBC740;
    color: #FBC740;
}
.ques-ans{
    position: absolute;
    left: 30%;
    top: 250px;
}
.heading{
    position: absolute;
    left: 40%;
    top: 2%;
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    color: #FBC740;
    letter-spacing: 2px;
    /* display: none; */
}