body {
  background-color: #d4f1f4;
  position: relative;
}
.plus-btn,
.minus-btn {
  height: 20px;
  font-size: 12px;
  cursor: pointer;
  border: 2px solid #fbc740;
  color: #fbc740;
  position: relative;
  top: 23px;
}
.first-row,
.first-row-answer,
.second-row,
.second-row-answer,
.third-row,
.third-row-answer {
  display: flex;
  justify-content: space-between;
}
.question-one,
.question-two,
.question-three {
  /* border: 2px solid red; */
  width: 490px;
}
.ques-ans {
  position: absolute;
  left: 30%;
  top: 250px;
}
.heading {
  position: absolute;
  left: 35%;
  top: 2%;
  font-family: "Dancing Script", cursive;
  font-size: 32px;
  color: #fbc740;
  letter-spacing: 2px;
}
.first-row-answer,
.second-row-answer,
.third-row-answer {
  height: 200px;
  display: none;
}
